.navContainer {
	position: fixed;
	width: 95%;
	height: 50px;
	z-index: 99;
	bottom: 10px;
	background: #202020;
	left: 2.5%;
	border-radius: 16px;
	animation: navEntry 0.4s linear forwards;
	box-shadow: 0px 2px 5px -2px #000, 0px 5px 30px -18px #010101;
}
.nav {
	position: relative;
	margin: 5px auto 0px auto;
	height: 45px;
	width: 600px;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
@keyframes navEntry {
	0% { transform: translateY(50px); opacity: 0; }
	70% { transform: translateY(-10px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
.navItem {
	display: block;
	position: relative;
	height: 45px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
	cursor:pointer;
	border: none;
	outline: none;
}
.border {
	display: block;
	background: #fff;
	height: 30px;
	width: 2px;
	margin: 10px 0px 10px 0px;
	padding: 0;
	border-radius: 2px;
}
