<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
		<style>
			body {
				background-color: #222222;
				background-image: linear-gradient(315deg, #323032 0%, #222222 74%);
			}
		</style>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
