<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            safkat.
        </title>
        
    </head>
    <body>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
            body {
                background: #000;
                font-family: 'Roboto Mono',monospace;
                font-weight: normal;
                font-style: normal; 
            }
            #safka-container {
                /*CSS HACKS*/
                display:inline-block;
            }
            span {
                color: #ccc;
                font-size: 16px;
                display:block;
                padding-right: 15px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .header {
                color: #fff;
                font-size: 21px;
                margin-bottom: 5px;
                margin-top: 15px;
            }
            .header:first-child {
                margin-top: 5px;
            }
            .item:last-child {
                margin-bottom: 10px;
            }
        </style>
        <% if (content && content.headers && content.headers.length > 0) { %>
            <div id="safka-container">
                <% for(var i = 0; i < content.everything.length; i++) { %>
                    <% if(content.headers.includes(content.everything[i])) {%>
                        <span class="header"><%= content.everything[i] %></span>
                    <%} else { %>
                        <span class="item"><%= content.everything[i] %></span>
                    <% } %>
                <% } %>
            </div>
        <% } else { %>
            <span id="nomenu">No menu available.</span>
        <% } %>
    </body>
</html>