<html>
    <head>
        <title>
            safkat.
        </title>
    </head>
    <body>
        <style>
            body {
                background: #000;
            }
            pre {
                padding:0;
                margin:0;
                color: #fff;
            }
        </style>
        <% for(var i=0; i < content.length; i++) { %>
           <pre><%= content[i] %></pre>
        <% } %>
    </body>
</html>