<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            safkat.
        </title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/mononoki" type="text/css"/> 
    </head>
    <body>
        <style>
            body {
                background: #000;
                font-family: 'mononokiRegular';
                font-weight: normal;
                font-style: normal; 
            }
            #safka-container {
                /*CSS HACKS*/
                display:inline-block;
                border: solid 1px #fff;
            }
            span {
                color: #fff;
                font-size: 20px;
                display:block;
                padding-right: 15px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .header {
                border-bottom: solid 2px #fff;
                margin-bottom: 5px;
                margin-top: 15px;
            }
            .header:first-child {
                margin-top: 5px;
            }
            .item:last-child {
                margin-bottom: 5px;
            }
        </style>
        <div id="safka-container">
            <% for(var i=0; i < content.everything.length; i++) { %>
                <% if(content.headers.includes(content.everything[i])) {%>
                    <span class="header"><%= content.everything[i] %></span>
                <%} else { %>
                    <span class="item"><%= content.everything[i] %></span>
                <% } %>
            <% } %>
        </div>
    </body>
</html>