<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            lukkarit.
        </title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/mononoki" type="text/css"/> 
    </head>
    <body>
        <style>
            body {
                background: #000;
                font-family: 'mononokiRegular';
                font-weight: normal;
                font-style: normal; 
            }
        </style>
        
    </body>
</html>