@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #202020;
    font-family: 'Roboto Mono',monospace;
    font-weight: normal;
    font-style: normal; 
    color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
	width: 100%;
	background: #202020;
}
