html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
