.scheduleContainer {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 40px;
  overflow: hidden;
  position:relative;
  animation: scheduleEntry 0.2s ease-in-out forwards;
}
@keyframes scheduleEntry {
  from { opacity: 0; }
  to { opacity: 1; }
}
.scheduleBlock {
  margin-top: 50px;
  width: 20%;
  min-height: 500px;
  height: auto;
  float:left;
  padding-bottom: 50px;
  display:none;
}
p {
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
}
.eventTime {
  font-size: 20px;
  font-weight: 700;
}
.eventInfoLine {
  width: 100%; 
  word-wrap: break-word;
}
.eventInfoLine:last-child {
  margin-bottom: 10px;
}
.blockDate {
  text-align:center;
  font-size: 25px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 700;
}
.blockWeekday {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}
.blockEvent {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 44px);
  background: #202020;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 12px;
  animation: blockEntry 0.2s ease-in-out forwards;
  will-change: box-shadow;
  box-shadow: 0px 2px 5px -2px #000, 0px 5px 30px -18px #010101;
}

.blockEvent.pop {
  will-change: transform;
  animation: blockEntry 0.2s ease-in-out forwards, popEvent 1s ease-in-out infinite;
}

.blockEvent.source {
  background: #FD6A02;
}

@keyframes popEvent {
  0% { transform: scale(1);}
  50% { transform: scale(1.02);}
  100% { transform: scale(1);}
}

.noSched {
  display: block;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 50vh;
  max-width: 500px;
  margin: 0 auto;
}
.schedNavButton {
  position: absolute;
  top: 25px;
  width: 60px;
  height: 50px;
  z-index: 1;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  outline: none;
}
.goLeft {
  left: 0;
}
.goRight {
  right: 0;
}
.schedNavButton.hidden {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .scheduleContainer {
      width: 98% !important;
  }
}

@media only screen and (min-width: 901px) {
  .schedNavButton.goLeft {
      left: 35%;
  }
  .schedNavButton.goRight {
      right: 35%;
  }
  .fullScreenActive {
      display: block;
  }
}

@media only screen and (max-width: 900px) {
  .schedNavButton {
      top: 70px;
  }
  .scheduleBlock.active {
      display: block !important; 
      width: 100%;
  }
  .schedNavButton {
      display: block;
  }
}
.goLeftButton, .goRightButton {
  position: absolute;
  z-index: 99;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 60px;
  height: 10px;
  border-radius: 10px;
}
.goLeftButton {
  transform: scale(0.4);
}
.goRightButton {
  transform: scale(-0.4);
}
.goLeftButton:after, .goRightButton:after {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  transform-origin: 0% -50%;
  transform: rotate(45deg);
}
.goLeftButton:before, .goRightButton:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  transform-origin: 0% 150%;
  transform: rotate(-45deg);
}
