.navContainer {
	position: fixed;
	width: 100%;
	height: 40px;
	z-index: 99;
	bottom: 0;
	background: #000;
}
.nav {
	position: relative;
	margin: 10px auto 0px auto;
	height: 20px;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	opacity: 0;
	animation: navEntry 0.4s linear forwards;
}
@keyframes navEntry {
	0% { transform: translateY(50px); opacity: 0; }
	70% { transform: translateY(-10px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
.navItem {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 20px;
	text-align: center;
}
.navItem:first-child {
	border: none;
}
.border {
	background: #fff;
	height: 100%;
	width: 3px;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
